* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "footer"; }
  .container .header-index {
    grid-area: header;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    .container .header-index img {
      height: 80%; }
      .container .header-index img:hover {
        transform: scale(1.1);
        transition: 0.2s; }
  .container .main-index {
    grid-area: main;
    height: auto;
    display: grid;
    grid-template-areas: "viajes" "escuela" "nosotros" "contacto"; }
    .container .main-index .viajes {
      grid-area: viajes;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-image: url("../img/fondo-viajes.webp");
      background-size: 100% 100%; }
      .container .main-index .viajes:hover {
        background-size: 105% 105%;
        transition: 0.5s;
        cursor: pointer; }
      .container .main-index .viajes h2 a {
        text-decoration: none;
        font-family: 'Denk One', sans-serif;
        text-transform: uppercase;
        font-weight: 100;
        color: wheat;
        text-shadow: 1px 2px 3px black;
        font-size: 4rem; }
      .container .main-index .viajes hr {
        border: 0;
        height: 12px;
        box-shadow: inset 0 12px 12px -12px #38a73d; }
      .container .main-index .viajes p {
        margin-top: 10px;
        font-size: 1.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        color: #000000;
        font-weight: 400;
        text-shadow: 2px 1px 2px rgba(255, 255, 255, 0.667);
        background-color: rgba(0, 0, 0, 0.034);
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px; }
    .container .main-index .escuela {
      grid-area: escuela;
      height: 400px;
      background-color: aqua;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url("../img/fondo-buceo.avif");
      background-size: 100% 100%; }
      .container .main-index .escuela:hover {
        background-size: 105% 105%;
        transition: 0.5s;
        cursor: pointer; }
      .container .main-index .escuela h2 a {
        text-decoration: none;
        font-family: 'Denk One', sans-serif;
        text-transform: uppercase;
        font-weight: 100;
        color: wheat;
        text-shadow: 1px 2px 3px black;
        font-size: 4rem; }
      .container .main-index .escuela hr {
        border: 0;
        height: 12px;
        box-shadow: inset 0 12px 12px -12px #389ca7; }
      .container .main-index .escuela p {
        margin-top: 10px;
        font-size: 1.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        color: #ffffff;
        font-weight: 400;
        text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.667);
        background-color: rgba(0, 0, 0, 0.034);
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px; }
    .container .main-index .nosotros {
      grid-area: nosotros;
      height: 400px;
      background-color: yellow;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url("../img/fondo-nosotros.jpg");
      background-size: 100% 100%; }
      .container .main-index .nosotros:hover {
        background-size: 105% 105%;
        transition: 0.5s;
        cursor: pointer; }
      .container .main-index .nosotros h2 a {
        text-decoration: none;
        font-family: 'Denk One', sans-serif;
        text-transform: uppercase;
        font-weight: 100;
        color: wheat;
        text-shadow: 1px 2px 3px black;
        font-size: 2rem; }
      .container .main-index .nosotros hr {
        border: 0;
        height: 12px;
        box-shadow: inset 0 12px 12px -12px #389ca7; }
      .container .main-index .nosotros p {
        margin-top: 4px;
        font-size: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        color: #ffffff;
        font-weight: 400;
        text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.667);
        background-color: rgba(0, 0, 0, 0.034);
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px; }
    .container .main-index .contacto {
      grid-area: contacto;
      height: 400px;
      background-color: #248d24;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url("../img/fondo-contacto.webp");
      background-size: 100% 100%; }
      .container .main-index .contacto:hover {
        background-size: 105% 105%;
        transition: 0.5s;
        cursor: pointer; }
      .container .main-index .contacto h2 a {
        text-decoration: none;
        font-family: 'Denk One', sans-serif;
        text-transform: uppercase;
        font-weight: 100;
        color: wheat;
        text-shadow: 1px 2px 3px black;
        font-size: 2rem; }
      .container .main-index .contacto hr {
        border: 0;
        height: 12px;
        box-shadow: inset 0 12px 12px -12px #38a73d; }
      .container .main-index .contacto p {
        margin-top: 4px;
        font-size: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        color: #000000;
        font-weight: 45 0;
        text-shadow: 2px 1px 2px rgba(255, 255, 255, 0.667);
        background-color: rgba(0, 0, 0, 0.034);
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px; }
  .container .footer-index {
    grid-area: footer;
    background-color: #FDFBF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .container .footer-index .info-footer {
      text-align: center;
      margin: 5px; }
      .container .footer-index .info-footer .nombre-footer {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        margin: 2px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.404); }
      .container .footer-index .info-footer .copyright {
        color: #5c5e5c;
        font-size: 11px; }
    .container .footer-index div .redes-sociales {
      display: flex;
      justify-content: center; }
      .container .footer-index div .redes-sociales li {
        list-style-type: none;
        margin: 5px; }
        .container .footer-index div .redes-sociales li:hover {
          transform: scale(1.2);
          transition: 0.3s; }

.pages-container {
  background-color: #F8F9FA;
  display: grid;
  display: flex;
  flex-direction: column;
  grid-template-areas: "header" "section" "main " "footer "; }
  .pages-container .pages-header {
    margin-bottom: 15px;
    padding: 0px;
    top: 0;
    z-index: 1;
    grid-area: header;
    display: flex;
    height: auto;
    align-self: center;
    justify-content: space-between;
    align-items: center; }
    .pages-container .pages-header .navbar {
      width: 100%;
      height: auto;
      --bs-navbar-padding-y: 0px;
      --bs-navbar-toggler-border-color: rgba(52, 41, 255, 0.87);
      --bs-navbar-color: rgba(0, 0, 0, 0.2); }
    .pages-container .pages-header img {
      width: 100px;
      height: 100px;
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 5px; }
      .pages-container .pages-header img:hover {
        transform: scale(0.9);
        transition: 0.3s; }
    .pages-container .pages-header nav div div .navbar-nav {
      width: 100%; }
    .pages-container .pages-header nav div div ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      .pages-container .pages-header nav div div ul li {
        padding: 30px;
        padding-bottom: 5px; }
        .pages-container .pages-header nav div div ul li .botonAnimation {
          list-style-type: none;
          text-transform: uppercase;
          font-family: 'Denk One', sans-serif;
          font-weight: 200;
          font-size: 25px;
          box-shadow: 0 12px 12px -12px #000000;
          text-shadow: 1px 1px 1px #606060;
          background-color: transparent;
          border-radius: 5px;
          /* En la siguiente linea borre el 4to parametro de box shadow*/
          color: black;
          text-decoration: none; }
          .pages-container .pages-header nav div div ul li .botonAnimation:hover {
            color: #ffffff !important;
            text-shadow: 0.5px 0.5px 1px black;
            border: 3px groove red;
            font-weight: 400;
            font-size: 27px;
            padding: 0.5em 1.2em;
            background: rgba(19, 16, 207, 0.977);
            transition: all 0.5s ease;
            position: relative; }
  .pages-container .pages-section {
    grid-area: section;
    background-color: rgba(0, 0, 0, 0.589);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .pages-container .pages-section h1 {
      text-align: center;
      font-family: 'Denk One', sans-serif;
      text-transform: uppercase;
      font-weight: 100;
      color: white;
      text-shadow: 1px 2px 3px black;
      font-size: 2rem; }
    .pages-container .pages-section p {
      border-left: 2px solid white;
      margin-top: 10px;
      margin-left: 30px;
      padding-left: 30px;
      text-align: center;
      font-size: 1rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: italic;
      color: #ffffff;
      font-weight: 450;
      text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.667); }
  .pages-container .main-viajes .bombinhas {
    background-image: url("../img/fondo-bombinhas.jpg");
    background-size: 100% 100%;
    height: 500px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .pages-container .main-viajes .bombinhas h2 {
      text-align: center;
      font-family: 'Denk One', sans-serif;
      text-transform: uppercase;
      font-weight: 100;
      color: white;
      text-shadow: 1px 2px 3px black;
      font-size: 6rem; }
    .pages-container .main-viajes .bombinhas div {
      width: 100%;
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.74); }
      .pages-container .main-viajes .bombinhas div p {
        text-align: center;
        font-size: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        color: #ffffff;
        font-weight: 450;
        text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.667); }
  .pages-container .main-viajes .cuba {
    background-image: url("../img/fondo-cuba.jpg");
    background-size: 100% 100%;
    height: 500px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .pages-container .main-viajes .cuba h2 {
      text-align: center;
      font-family: 'Denk One', sans-serif;
      text-transform: uppercase;
      font-weight: 100;
      color: white;
      text-shadow: 1px 2px 3px black;
      font-size: 6rem; }
    .pages-container .main-viajes .cuba div {
      width: 100%;
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.74); }
      .pages-container .main-viajes .cuba div p {
        text-align: center;
        font-size: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        color: #ffffff;
        font-weight: 450;
        text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.667); }

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 0.5fr 2.5fr;
    grid-template-rows: 8fr 1fr;
    grid-template-areas: "header main" "footer main"; }
    .container .header-index {
      height: auto; }
      .container .header-index img {
        height: auto;
        width: 60%; }
    .container .main-index {
      grid-template-rows: 2fr 1fr;
      grid-template-areas: "viajes escuela escuela" "viajes nosotros contacto"; }
      .container .main-index .viajes {
        height: auto; }
      .container .main-index .escuela {
        height: auto; }
      .container .main-index .nosotros {
        height: auto; }
      .container .main-index .contacto {
        height: auto; }
    .container .footer-index {
      grid-area: footer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-top: 1px solid rgba(19, 140, 174, 0.549); } }
